* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;


}

h1 {
    font-size: 30px;
}

.container {
    
    margin: 0 auto;
    padding: 20px;
}

#header {


    background: #333;
    color: #fff;
    padding: 10px 0;

}

#header h1 {
    margin-bottom: 0;
}

#header .container {

    display: flex;
    align-content: center;
    justify-content: space-between;

}



#header .navbar {
    align-content: center;
}

#header .navbar ul {
    margin-bottom: 0;
}

#header .navbar ul li {
    display: inline;
    margin-left: 20px;
}

#header .navbar ul li a {
    color: #fff;
    text-decoration: none;
}

#main-content {
    padding: 20px 0;
}




.featured-movies,
.about-us,
.product-list,
.cart,
.login,
.register,
.contact {
    padding: 20px 0;
}

#footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}


.footer-nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer ul li a {
    color: #fff;
    text-decoration: none;

}

.social-icon .fa-facebook-square {
    color: #1877F2;
}

.social-icon .fa-twitter-square {
    color: #1DA1F2;
}

.social-icon .fa-instagram-square {
    color: #E4405F;
}

.social-icon .fa-youtube-square {
    color: #FF0000;
}



@media screen and (min-width: 768px) {
    .footer-nav {
        grid-template-columns: repeat(3, 1fr);
    }

}



/* index */



.hero {
    background: #f4f4f4;
    padding: 25px 0;
    text-align: center;
    grid-area: hero;

}



.Horizontal-Scroll-Bar {

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;


}


.poster {

    width: 100%;
    height: auto;
    background-color: lightblue;
    margin: 10px;
    display: inline-block;


}


.featured-movies {
    grid-area: featured-movies;

}

.ads-sidebar {
    grid-area: ads-sidebar;


}


.ads-sidebar div {
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.ads-sidebar .ads-pic {
    width: 45%;
    height: auto;
    background-color: lightblue;
    margin: 10px;
}



@media screen and (min-width: 768px) {

    #trangchu #main-content {
        display: grid;
        grid-template-areas: "left-aside hero ads-sidebar"
            "left-aside featured-movies ads-sidebar";
        grid-template-columns: 15% 70% 15%;
    }

    .ads-sidebar {}

    .ads-sidebar div {
        flex-direction: column;
    }

    .ads-sidebar .ads-pic {
        width: 100%;
    }

}


/* register */
/* #nav:hover {
    border-style: solid;
    border-color: aqua;
    box-shadow: 0 0 aqua;
    padding: 3px;
    border-radius: 3px;

} */

@media (min-width: 1024px) {

    #reg-form {
        max-width: 500px;
        margin: 5% auto;
    }
}

@media (min-width: 740px) and (max-width:1024px) {

    #reg-form {
        margin: 10% auto;
        max-width: 480px;
    }

}

@media (max-width: 740px) {
    #reg-form {
        margin: auto 30px !important;
    }
}

#reg-form {
    padding: 30px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

#form-title {
    margin: 20px 0px 10px 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px
}


.genderOp {
    display: flex;
    gap: 20px;
}



/* product */

.phim_Product {
    padding: 25px;
    display: inline-block;
    border: solid 4px black;
    margin-bottom: 5px;
    margin-top: 2px;
    border-radius: 8%;
}

.img_Product {
    border: solid black 5px;
    height: 250px;
    width: 230px;
}

main img{
    transition: transform 0.3s ease;
}

main img:hover{
    transform: scale(1.05);
}

#div_ContentAndImgProduct {
    display: inline-block;
    text-align: center;
}

#main_Product {
    margin: auto;
    width: 80%;
}

#body_Product td {
    text-align: left;
    font-size: 20px;
}

.div_Content {
    height: 250px;
    width: 230px;
}

.name_movie{
    height: 100px;
    width: 230px;
    display: inline;
    color: rgb(39, 8, 8);
}

#TieuDe{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 10;
    border-bottom: solid black;
}