* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;


}

h1 {
    font-size: 30px;
    font-weight: bold;
}


.container {
    
    margin: 0 auto;
    padding: 20px;
}

#header {


    background: #333;
    color: #fff;

}

#header h1 {
    margin-bottom: 0;
}

#header .container {

    display: flex;
    align-content: center;
    justify-content: space-between;

}





#header .navbar ul {
    margin-bottom: 0;
}

#header .navbar ul li {
    display: inline;
    
    
}


#header .navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    height: 100%;

}

#header .navbar ul li a:hover {
    background: #aeb9c7;
    transition: transform 0.5s ease-out;
    transform: scale(1.02);
    color: #241e1e;
}



#main-content {
    padding: 20px 0;
}

@media (min-width: 520px) and (max-width: 1000px) {
    #header .container {
        flex-direction: column; 
    }
    #header .navbar ul {
        margin: 0 auto;
        padding: 0;
        display: grid;
        
        gap: 3%;
        width: 90%;
    }

    #header .navbar ul li {
        
        margin: 0 auto;
        text-align: center;
        
    }
    #header .navbar ul li a {
        display: block;
        padding: 5px 10px;
    }

}

@media (min-width: 768px) and (max-width: 1000px) {
    #header .navbar ul {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 520px) and (max-width: 767px) {
    #header .navbar ul {
        grid-template-columns: repeat(3, 1fr);
    }
}



@media  (max-width: 519px) {
    #header .container {
        flex-direction: column; 
    }
    #header .navbar ul {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

    }

    #header .navbar ul li {
        margin: 0;
        
        text-align: center;
        display: block;
      
        
    }
    #header .navbar ul li a {
        display: block;
        padding: 10px 0;
    }
    
}




.featured-movies,
.about-us,
.product-list,
.cart,
.login,
.register,
.contact {
    padding: 20px 0;
}

#footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}


.footer-nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer ul li a {
    color: #fff;
    text-decoration: none;

}

.social-icon .fa-facebook-square {
    color: #1877F2;
}

.social-icon .fa-twitter-square {
    color: #1DA1F2;
}

.social-icon .fa-instagram-square {
    color: #E4405F;
}

.social-icon .fa-youtube-square {
    color: #FF0000;
}



@media screen and (min-width: 768px) {
    .footer-nav {
        grid-template-columns: repeat(3, 1fr);
    }

}



/* index */



.hero {
    background: #f4f4f4;
    padding: 25px 0;
    text-align: center;
    grid-area: hero;

}



.Horizontal-Scroll-Bar {

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;


}


.poster {

    width: 100%;
    height: auto;
    background-color: lightblue;
    margin: 10px;
    display: inline-block;


}


.featured-movies {
    grid-area: featured-movies;

}

.ads-sidebar {
    grid-area: ads-sidebar;


}


.ads-sidebar div {
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.ads-sidebar .ads-pic {
    width: 45%;
    height: auto;
    background-color: lightblue;
    margin: 10px;
}



@media screen and (min-width: 768px) {

    #trangchu #main-content {
        display: grid;
        grid-template-areas: "left-aside hero ads-sidebar"
            "left-aside featured-movies ads-sidebar";
        grid-template-columns: 15% 70% 15%;
    }

 

    .ads-sidebar div {
        flex-direction: column;
    }

    .ads-sidebar .ads-pic {
        width: 100%;
    }

}


/* register */
/* #nav:hover {
    border-style: solid;
    border-color: aqua;
    box-shadow: 0 0 aqua;
    padding: 3px;
    border-radius: 3px;

} */

@media (min-width: 1024px) {

    #reg-form {
        max-width: 500px;
        margin: 5% auto;
    }
}

@media (min-width: 740px) and (max-width:1024px) {

    #reg-form {
        margin: 10% auto;
        max-width: 480px;
    }

}

@media (max-width: 740px) {
    #reg-form {
        margin: auto 30px !important;
    }
}

#reg-form {
    padding: 30px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

#form-title {
    margin: 20px 0px 10px 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px
}


.genderOp {
    display: flex;
    gap: 20px;
}



/* product */

@media (max-width: 600px) {
    .phim_Product {
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 2px;
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        width: 150px;
        height: 230px;
    }

    .aSectionPhim{
        display: inline-block;
    }

    .img_Product {
        height: 180px;
        width: 147px;
        border-radius: 10%;
    }
     
    #div_ContentAndImgProduct {
        display: inline-block;
        text-align: center;
    }
    
    #main_Product {
        width: 100%;
    }
    
    #body_Product{
        background-color: rgba(73, 14, 14, 0.158);
    }
    
    #body_Product table {
        display: none;
    }
    
    .div_Content {
        padding-top: 5px;
        height: 20px;
        width: 200px;
    }

    #div_Content td{
        font-size: 10px;
    }
    
    .name_movie{
        height: 80px;
        width: 50px;
        font-size: 15px;
        display: inline;
        color: rgb(39, 8, 8);
    }
    
    #TieuDe{
        font-size: 40px;
        margin-bottom: 30px;
        color: white;
        background-color: black;
        border-bottom: solid black;
        margin: 10px;
    }
    
    .div_Icon{
        height: 0px;
        width: 0px;
        position: absolute;
        bottom: 2%;
        display: none;
    }
    
    .Heart{
        position: relative;
        color: black;
        right: 5%;
        font-size: 25px;
    }
    
    .Cart{
        position: relative;
        left: 120px;
        color: rgb(165, 112, 27);
        font-size: 25px;
    }



    #choose_type{
        text-align: center;
        margin: 10px;
    }

    #The_Loai{
        height: 30px;
        width: 120px;
        border-radius: 5%;
    }

    #thoi_luong{
        height: 30px;
        width: 160px;
        border-radius: 5%;
    }
    #aside{
        display: none;
    }
    .displayinMobile{
        display: none;
    }
}


@media (min-width:600px){
    .phim_Product {
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 2px;
        border-radius: 8%;
        width: 230px;
        height: 250px;
    }
    .img_Product {
        border: solid black 5px;
        border-radius: 5%;
        height: 90%;
        width: 80%;
        display: block;
        margin: 5% auto;
        object-fit: cover;
    }
    .aSectionPhim{
        border: solid black 2px;
        border-radius: 8%;
        display: inline-block;
        margin: 5px;
        background-color: rgb(215, 200, 200);
    }
    #main_Product img{
        transition: transform 0.3s ease;
    }
    
    #main_Product img:hover{
        transform: scale(1.05);
    }
    
    #div_ContentAndImgProduct {
        display: inline-block;
        text-align: center;
        grid-area: center;
    }
    #aside{
        grid-area: right;
    }
    
    #choose_type{
        grid-area: left;
    }
    #main_Product {
        /* width: 90%; */
        display: grid;
        grid-template-areas:
        "left center right";
        grid-template-columns: 20% 75% 5%;
    }
    
    #body_Product{
        background-color:rgba(73, 14, 14, 0.158);
    }
    
    #body_Product td {
        text-align: left;
        font-size: 15px;
    }
    
    .div_Content {
        height: 150px;
        width: 230px;
        padding-left: 5%;
    }

    
    .name_movie{
        display: inline;
        color: rgb(39, 8, 8);
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        display: inline-block;
    }
    
    #TieuDe{
        font-size: 50px;
        margin-bottom: 30px;
        font-weight: 10;
        border-bottom: solid black;

    }
    
    .div_Icon{
        position: relative;
        bottom: 8px;
    }
    
    .Heart{
        position: relative;
        right: 25%;
        color: black;
        font-size: 35px;
    }
    
    .Cart{
        position: relative;
        left: 25%;
        color: rgb(165, 112, 27);
        font-size: 35px;
    }


    #The_Loai{
        width: 65%;
        height: 40px;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        margin-bottom: 10px;
        border-radius: 5%;
        display: block;
        text-align: center;
    }
    #thoi_luong{
        width: 65%;
        height: 40px;
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5%;
        text-align: center;
        display: block;
    }

    #Chon{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
        width: 50px;
        border-radius: 25%;
        border: solid 1px black;
        font-size: 15px;
        font-weight: 500;
        display: block;
    }
    
    #BoLoc{
        padding-top: 25px;
        border-radius: 10%;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 25px;
        background-color: #ffffff;
        position: relative;
        left: 15%;
        top: 50px;
        width: 80%;
        height: 500px;
    }
}
/* about */
#gioithieu{
    max-width: 1024px;
    margin: auto;
}
.box{
    padding: 20px;
    max-width: 100%;
    display: flex;
    justify-items: center;
    margin: auto;
}
.text_gioithieu {
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}
#video_gioithieu {
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 16/9;
}
@media (max-width: 600px) {
    .box {
        padding: 5px;
    }
}
.container_gallery{
    display: grid;
    grid-template-areas:"topleft topright"
                        "botleft botright";
    justify-items: center;
    gap: 10px;

    }
@media (max-width: 400px){
    .container_gallery{
        grid-template-areas:"topleft"
                        "topright"
                        "botleft"
                        "botright";
    }
}
.image1{
    width: 100%;
    border-radius: 5px;
    grid-area: topleft;
}
.image2{
    width: 100%;
    border-radius: 5px;
    grid-area: topright;
}
.image3{
    width: 100%;    
    border-radius: 5px;
    grid-area: botleft;
}
.image4{
    width: 100%;
    border-radius: 5px;
    grid-area: botright;
}