
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;


}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#header {
    
  
    background: #333;
    color: #fff;
    padding: 10px 0;
    
}

#header .container{

    display: flex;
    align-content: center;
    justify-content: space-between;

}



#header .navbar {
    align-content: center;
}


#header .navbar ul li {
    display: inline;
    margin-left: 20px;
}

#header .navbar ul li a {
    color: #fff;
    text-decoration: none;
}

#main-content {
    padding: 20px 0;
}

.hero {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.featured-movies, .about-us, .product-list, .cart, .login, .register, .contact {
    padding: 20px 0;
}

#footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}